@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .btnStyle{
        @apply 
            w-1/6
            h-7
            rounded
            flex
            justify-center
            text-black
            bg-red-500
            hover:bg-black
            hover:text-red-500
            items-center
            text-lg 
            cursor-pointer
             ease-in
            delay-75
    }
    .inputStyle{
        @apply border-gray-700 border-[1px]
            w-3/4
            rounded
            mt-2
            focus:outline-none
            pl-2
            mr-3
            ml-3
    }
  
}
